.vscode/
intro/
CMakeFiles/
build/
googletest/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
InfineonDoxyGenerator/
docs/doxygen/doxyfile_auto
/docs/_build
/docs/exhale-auto-docs
docs/doxyoutput
.pio/
/workflow/
/docs/.buildinfo
/docs/.doctrees/
.ipynb_checkpoints/
__pycache__/
*.csv
venv/
venv_infineon/
data/
data2/
*.DS_Store
.devcontainer/
test.ipynb